* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b1b32;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: row;
}

#timer-label {
  p {
    text-align: center;
    font-weight: bold;
  }

  #time-left {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3em;
  }

  .btn {
    display: inline-block;
    cursor: pointer;
    background: none;
    // background: #fff;
    border: none;
    width: 50%;
    color: #fff;
    font-size: 1em;
    padding: 1em 0;
    text-align: center;

    &:hover {
      background: #33335f;
    }
    &:active {
      background: #33335f69;
    }
  }

  #start_stop {
  }
  #reset {
  }
}

.setterWrapper {
  h3 {
    text-align: center;
    font-size: 2em;
    margin-top: 0.3em;
    margin-bottom: 0;
  }

  p {
    text-align: center;
    margin-top: 0;
  }
  .setterBtn {
    font-size: 3em;
    display: block;
    padding: 0 1em;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;

    &:hover {
      background: #33335f;
    }
    &:active {
      background: #33335f69;
    }
  }

  .increment {
  }

  .decrement {
  }

  #break-label {
  }

  #session-label {
  }
}
